* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

/* Escritorio */

/* Productos */

.productosFlex {
    display: flex;

    width: 200px;
    height: 200px;

    margin: 5px;
    text-align: center;
}

.itemsFlex {

    display: flex;
}



/* Desktop */

body {
    width: 100vw;
    height: 90vw;
}

/* ESTILOS GENERALES */
.border {
    color: rgb(252, 243, 243);
    border: solid 1px black;

}



/* estructura grid */

#gridAreas {
    display: grid;
    grid-template-areas:
        "logo publi none"
        /* fila 1 */
        "menu menu menu"
        /* fila 2 */
        "cuerpo cuerpo brazo"
        /* fila 3*/
        "footer footer footer"
        /* fila 4 */
    ;
    grid-template-rows: 0.5fr auto 5fr 0.1fr;
    grid-template-columns: 5fr 15fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}

.cabezaGrid {
    display: none;
}

.logoGrid {
    grid-area: logo;

}

.imgLogo {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 15vw;

}

.imgPubli {
    margin-top: 15px;
    position: relative;
    left: 5vw;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: 9rem;
    border-radius: 10px;

    justify-self: center;

}

#publiGrid {
    grid-area: publi;

}

.menuGrid {
    grid-area: menu;
    text-align: center;

    display: flex;
    justify-content: center;

    background-color: #ecf0f1;
    height: 40px;
}

span {
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    border-left: solid;
    border-right: solid;
    color: rgb(59, 56, 56);

}


.imgCarrito {
    width: 40px;
    height: 100%;
    display: flex;

    margin-left: 40px;

}

.imgUsuario {
    width: 40px;
    height: 100%;

    display: flex;

    margin-left: 20px;
}

.cuerpoGrid {
    grid-area: cuerpo;
    background-image: url(./img/canos.jpeg);
}

.bodyContacto {
    background-image: url(./img/correo.jpg);
}

.bodyNosotros{

    text-align: center;
    background-image: url(./img/nosotros.jpg);


}
.mapaLocal{
   display: flex;
   position: relative;

   width: 100%;
   height: 100%;
}


.tituloInicio {
    position: relative;
    top: 15%;
    margin-left: 20px;
    font-family: cursive;
    font-size: 30px;
    width: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;

}

.loremInicio {
    margin-left: 40px;
    position: relative;
    top: 15%;
    font-family: cursive;
    font-size: 18px;
    width: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

.brazoGrid {
    grid-area: brazo;
    color: black;
    width: 200px;
}

.imgBrazo {
    width: 100%;
    height: 100%;
}

.footerGrid {
    grid-area: footer;
    text-align: center;
    color: rgb(187, 182, 182);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    background-color: black;
}

/* Productos */



.productosFlex {
    display: flex;

    width: 200px;
    height: 200px;

    margin: 5px;
    text-align: center;
}

.itemsFlex {

    display: flex;
}


/* 
	Tabla
	*/
.tablaProductos {
    flex-flow: row wrap;
    width: 50%;
    height: 50%;
    color: black;

    margin: 40px;
}

tr {
    background: #eee;
}

th {
    background: #333;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid rgb(8, 7, 7);
    text-align: left;
}


/* formulario
 */

 .cuerpoFormulario{
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    height:700px;

}
.tituloFormulario{
    margin: 0 auto;

  text-align: center;
    padding-bottom: 0px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    
  }

 

  .contenedorFormulario {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto; 
  }


  .formulario {
    background: #f3f0f0;
    text-align: center; 
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255); 
    border-radius: 10px;  
    width: 60%; 
    height: 500px;
    margin: 40px auto 0 auto;
    padding: 30px 10px;  
    animation: bounce 1.5s infinite;
  
  }

.nombre { 
    background-color: #0ccff1;
    border-bottom: 5px solid #20b9f5;
    color: white;
    width:300px;
  }

 
  .nombre:hover{
    background-color: #20b9f5;
    border-bottom: 5px solid #20b9f5;
    height:30px;
    width:400px;
  }

  .email {
    background-color: #20b9f5;  
    border-bottom: 5px solid #502789;
    height:50px;
    width:300px;
    
  }
  .email:hover{
    background-color: #1575e4;  
    border-bottom: 5px solid #0dd9e7;
    height:30px;
    width:380px;
   
  }
  .mensajeFormulario {   
    background-color: rgb(15, 198, 230);
    border-bottom: 5px solid rgb(17, 145, 195);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .mensajeFormulario:hover{
    background-color: #2d7cd7;
    border-bottom: 5px solid #118aec;
    height: 100px;
    width:370px;
  }

  

  .enviarFormulario:hover{
    border-bottom: 5px solid #00ccff;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .cajaFormulario{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }


  .sombraFormulario{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
.enviarFormulario{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #57acf1;  
    border: none;
    border-bottom: 5px solid #ffffff; 
    margin-top: 10%; 

  }




/*</ formulario */

/*************</Escritorio ******************/




/************* Mobil******************/
@media (max-width: 480px) {

    #gridAreas {
        display: grid;
        grid-template-areas:
            "logo logo none "
            /* fila 1 */
            "menu cuerpo none"
            /* fila 2 */
            "brazo cuerpo none"
            /* fila 3*/
            "footer footer none "
            /* fila 4 */
        ;
        grid-template-rows: 1fr 1fr 0;
        grid-template-columns: 25% 67%;
        grid-column-gap: 5px;
        grid-row-gap: 5px;

    }

    .footerGrid {
        grid-area: footer;
        text-align: center;
        color: rgb(187, 182, 182);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        background-color: rgb(0, 0, 0);
    }

    .brazoGrid {
        grid-area: brazo;
        color: black;
        width: 200px;
        display: flex;

    }

    .imgBrazo {
        width: 100%;
        height: 100%;
       
    }


    .loremInicio {
        margin-left: 40px;
        position: relative;
        top: 15%;
        font-family: cursive;
        font-size: 10px;
        width: 60%;
        height: 20%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }


    .cuerpoGrid {
        grid-area: cuerpo;
        background-image: url(./img/canos.jpeg);
        height: 200vw;
        width: 100%;
    }
    .bodyContacto {
        background-image: url(./img/correo.jpg);
    }
    .cabezaGrid {
        display: none;
    }

    .logoGrid {
        grid-area: logo;

    }

    .imgLogo {
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        left: 25%;
        width: 40%;
        height: 20vw;

    }

    .imgPubli {
        margin-top: 15px;
        position: relative;
        left: 5vw;
        display: none;
        flex-flow: row wrap;
        width: 70%;
        height: 9rem;
        border-radius: 10px;

        justify-self: center;

    }

    #publiGrid {
        grid-area: publi;

    }

    .menuGrid {
        grid-area: menu;
        text-align: center;

        display: flex;
        position: relative;
        top: 200px;

        flex-direction: column;

        height: 100px;
        font-size: 12px;


    }

    span {
        margin: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 5px;
        border-left: solid;
        border-right: solid;
        color: rgb(59, 56, 56);
        background-color: rgb(194, 192, 192);


    }


    .imgCarrito {
        width: 40px;
        height: 100%;

        display: flex;

        margin-left: 20px;
    }

}

.imgUsuario {
    width: 40px;
    height: 100%;

    display: flex;

    margin-left: 20px;
}


/* productos */

.tablaProductos {
    flex-flow: row wrap;
    width: 50%;
    height: 50%;
    color: black;

    margin: 10px;
}

tr {
    background: #eee;
}

th {
    background: #333;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid rgb(8, 7, 7);
    text-align: left;
}


.bodyNosotros{

    text-align: center;
    background-image: url(./img/nosotros.jpg);


}

/* formulario
 */

 .cuerpoFormulario{
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    height:700px;

}
.tituloFormulario{
    margin: 0 auto;

  text-align: center;
    padding-bottom: 0px;
    position: relative;
    top: 80px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    
  }

 

  .contenedorFormulario {
    width: 80%;
    height: 40%;
    position: relative;
    left: -20px;
  }


  .formulario {
    
    background: #f3f0f0;
    text-align: center; 
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255); 
    border-radius: 10px;  
    width: 110%; 
    height: 400px;
   
    
    animation: bounce 1.5s infinite;
  
  }

.nombre { 
    background-color: #0ccff1;
    border-bottom: 5px solid #20b9f5;
    color: white;
    width: 60%;
  }

 
  .nombre:hover{
    background-color: #20b9f5;
    border-bottom: 5px solid #20b9f5;
    height:30px;
    width: 60%;
  }

  .email {
    background-color: #20b9f5;  
    border-bottom: 5px solid #502789;
    height:50px;
    width: 60%;
    
  }
  .email:hover{
    background-color: #1575e4;  
    border-bottom: 5px solid #0dd9e7;
    height:30px;
    width: 60%;
   
  }
  .mensajeFormulario {   
    background-color: rgb(15, 198, 230);
    border-bottom: 5px solid rgb(17, 145, 195);
    overflow: hidden;
    height: 100px;  
    width: 60%;
  }

  .mensajeFormulario:hover{
    background-color: #2d7cd7;
    border-bottom: 5px solid #118aec;
    height: 100px;
    width: 60%;
  }

  

  .enviarFormulario:hover{
    border-bottom: 5px solid #00ccff;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .cajaFormulario{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }


  .sombraFormulario{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
.enviarFormulario{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #57acf1;  
    border: none;
    border-bottom: 5px solid #ffffff; 
    margin-top: 10%; 

  }




/*</ formulario */

/*************</ Mobil******************/